.questionContainer{
    background-color: #fff;
    width: 70%;
    height: 629px;
    margin: 0 auto 40px;
    border-radius: 24px;
    position: relative;
    padding: 0px 32px 32px;
}
.logoWorld{
    display: none;
}
.imageFlag{
    width: 84px;
    height: 54px;
    padding-top: 68px;
}
.questionText{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #2F527B;
}
.btnContainer{
    position: relative;
}
.btnAnswer{
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(96, 102, 208, 0.8);
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}
.hoverSelect{
    color: #FFFFFF;
    background: #F9A826;
    border: none;
}
.letterOfOptionAnswer{
    position: absolute;
    left: 20px;
    font-size: 26px;
}
.textAnswer{
    font-size: 18px;
    position: relative;
    right: 40px;
}
.btnNextContainer{
    display: flex;
    justify-content: flex-end;
}
.btnNext{
    margin: 0;
    width: 116px;
    height: 56px;
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}
.btnNextHide{
    display: none;
}
.wrongAnswer{
    background: #EA8282;
    border: none;
    color: #FFFFFF;
}
.correctAnswer{
    background: #60BF88;
    border: none;
    color: #FFFFFF;
}
.wrongIcon{
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 20px;
    color: #f2f2f2;
    display: none;
}
.correctIcon{
    position: absolute;
    right: 18px;
    top: 18px;
    
}
@media only screen and (min-width: 420px){
    .textAnswer{
        right: 25%;
    }
}
@media only screen and (min-width: 600px){
    .questionContainer{
        width: 464px;
    }
    .logoWorld{
        display: initial;
        position: absolute;
        right: 0;
        top: -70px;
    }
    .textAnswer{
        right: 120px;
    }
}