.containerAll{

}
.containerAll h1{
    width: 525px;
    padding-top: 120px;
    margin: auto;
    color: #F2F2F2;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
}
footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
}
footer p{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
}