.containerAll{

}
.containerAll h1{
    width: 525px;
    padding-top: 120px;
    margin: auto;
    color: #F2F2F2;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
}